---
import Layout from '../layouts/Layout.astro'
---

<Layout title='profile | d4er portfolio'>
    <div
        class='h-screen bg-gradient-to-br from-[#181b20] to-[#312e33] relative overflow-y-auto overflow-x-hidden'
    >
        <div
            class='opacity-100 w-[100px] h-[100px] rounded-[50%] relative left-[50%] translate-x-[-50%] top-[10vh] translate-y-[-50%]'
        >
            <img
                id='image'
                alt='Profile Image'
                class='w-[100%] h-[100%] rounded-[50%]'
            />
        </div>

        <h1
            id='welcome'
            class='text-white text-center relative top-[10vh] translate-y-[-50%]'
        >
        </h1>
        <h3
            id='member'
            class='text-white text-center relative top-[10vh] translate-y-[-50%]'
        >
        </h3>
        <div
            class='flex justify-center items-center relative left-[50%] top-[13vh] translate-x-[-50%] translate-y-[-50%] w-[390px]'
        >
            <button
                class='bg-transparent text-white border-2 border-solid border-[#fff] hover:bg-white hover:text-black transition-all duration-300 font-medium p-1 rounded-lg relative mr-2'
                id='logout'
            >
                cerrar sesión</button
            >
            <a href='/profile/edit'>
                <button
                    class='bg-transparent text-white border-2 border-solid border-[#fff] hover:bg-white hover:text-black transition-all duration-300 font-medium p-1 rounded-lg ml-2'
                    id='logout'
                >
                    editar perfil</button
                >
            </a>
            <a href='/'>
                <button
                    class='bg-transparent text-white border-2 border-solid border-[#fff] hover:bg-white hover:text-black transition-all duration-300 font-medium p-1 rounded-lg ml-2'
                >
                    volver</button
                >
            </a>
        </div>
        <div
            class='relative w-[80%] border-solid border-white border-4 rounded-lg h-[60%] left-[50%] translate-x-[-50%] top-[15vh] text-white overflow-x-auto'
            id='comments'
        >
            <h1 class='text-[20px] font-light p-2'>
                Comentarios a los que le has dado me gustas
            </h1>
            <br />
        </div>
    </div>

    <script>
        const $welcome = document.querySelector('#welcome') as HTMLElement
        const $member = document.querySelector('#member') as HTMLElement
        const $comments = document.querySelector('#comments') as HTMLElement
        const $image = document.querySelector('#image') as HTMLImageElement
        function getCookieValue(cookieName: string) {
            const cookies = document.cookie.split(';')

            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim()

                if (cookie.indexOf(cookieName + '=') === 0) {
                    return cookie.substring(cookieName.length + 1)
                }
            }
        }
        const token = getCookieValue('token')

        fetch('https://d4erapi56.onrender.com/api/profile', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                Authorization: `Bearer ${token}`,
            },
            credentials: 'include',
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data)
                const createdAt = new Date(data.createdAt).toLocaleDateString()
                $welcome.innerHTML = `Bienvenido ${data.username} | ${data.email}`
                $member.innerHTML = `miembro desde ${createdAt}`
                if (data.profile_picture) {
                    $image.src = data.profile_picture
                } else {
                    $image.src = '/defaultProfile.png'
                    $image.style.border = '5px solid #000'
                }
                if (data.liked_comments.length === 0) {
                    $comments.innerHTML = `no has dado me gusta a ningún comentario`
                } else {
                    for (let i = 0; i < data.liked_comments.length; i++) {
                        fetch(
                            `https://d4erapi56.onrender.com/api/getComment/${data.liked_comments[i]}`
                        )
                            .then((response) => response.json())
                            .then((data) => {
                                $comments.innerHTML += `<h1 class="text-[18px] font-medium pl-2">${data.username}</h1><p class="break-words w-[90%] pl-4 inline">${data.comment.content}</p><p class="inline pl-[8rem]">❤️${data.comment.likes}</p>`
                                console.log(data)
                            })
                    }
                }
            })
            .catch((error) => {
                window.location.href = '/'
            })
    </script>
    <script>
        const logoutButton = document.querySelector(
            '#logout'
        ) as HTMLButtonElement
        logoutButton.addEventListener('click', () => {
            fetch('https://d4erapi56.onrender.com/api/logout', {
                method: 'POST',
                credentials: 'include',
            }).then((response) => {
                if (response.ok) {
                    const expirationDate = new Date(0).toUTCString()
                    document.cookie = `token=; expires=${expirationDate}; path=/;`
                    location.href = '/'
                } else if (response.status == 400) {
                    alert('Logout failed')
                }
            })
        })
    </script>
</Layout>
