---
import CodeIcon from '@icons/CodeIcon.astro'
import projects from '../data/projects.json'
---

<section
  class="w-full lg:w-[740px] flex flex-col justify-center pagew:w-[90%] pagew:mx-auto"
  id="proyectos"
>
  <h3 class="italic text-gray-400 text-lg sm:text-xl">Descubre mis trabajos</h3>
  <h1 class="text-xl sm:text-4xl font-bold mb-8 whitespace-nowrap text-white">
    Algunos de mis proyectos
  </h1>
  {
    projects.map(({ title, description, image, link }) => (
      <article class="mb-8">
        <h3 class="text-lg lg:text-xl font-semibold text-yellow-100 mb-2">
          {title}
        </h3>
        <p class="text-sm lg:text-base mb-4 text-white">{description}</p>
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="relative group block"
        >
          <div class="rounded-2xl transition-colors duration-300 overflow-hidden">
            <div class="relative overflow-hidden transition-transform duration-300 group-hover:scale-105">
              <img class="block w-full h-auto" src={image} alt={image} />
              <div class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                <CodeIcon class="w-16 h-16 text-yellow-100" />
              </div>
            </div>
          </div>
        </a>
      </article>
    ))
  }
</section>

<style>
  /* Escalado con bordes visibles */
  .group:hover .group-hover\:scale-105 {
    transform: scale(1.05);
  }

  /* Transición de opacidad para el overlay */
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }

  .rounded-2xl {
    border-radius: 1rem;
    overflow: hidden;
  }

  .relative img {
    display: block;
    width: 100%;
    height: auto;
  }
</style>
