---
import CodeIcon from '../components/icons/CodeIcon.astro'
import projects from '../data/projects.json'
---

<section
  class="w-full lg:w-[740px] mx-auto py-8 flex flex-col justify-center items-center"
  id="proyectos"
>
  <h3 class="italic text-gray-400">Descubre mis trabajos</h3>
  <h1
    class="text-xl sm:text-2xl font-bold mb-8 whitespace-nowrap text-white !important"
  >
    Algunos de mis proyectos
  </h1>
  {
    projects.map(({ title, description, image, link }) => (
      <article>
        <h3 class="text-lg lg:text-xl font-semibold text-yellow-100 mb-2">
          {title}
        </h3>
        <p class="text-sm lg:text-base mb-4 text-pretty text-white !important">
          {description}
        </p>
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="relative group"
        >
          <div class="relative">
            <img
              class="rounded-2xl shadow-2xl shadow-white/20 mb-6 transition-opacity duration-300 group-hover:opacity-50"
              src={image}
              alt={image}
            />
            <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
              <CodeIcon class="w-16 h-16" />
            </div>
          </div>
        </a>
      </article>
    ))
  }
</section>

<style>
  .group {
    position: relative;
    display: inline-block;
  }

  .group-hover .group-hover\:opacity-50:hover {
    opacity: 0.5;
  }

  .group-hover .group-hover\:opacity-100:hover {
    opacity: 1;
  }
</style>
